<?xml version="1.0"?>
<!--
/**
 * config.xml
 *   - set-up module
 *
 * @category    Sitewards
 * @package     Sitewards_MultipleOrder
 * @copyright   Copyright (c) 2014 Sitewards GmbH (http://www.sitewards.com/)
 */
-->
<config>
    <modules>
        <Sitewards_MultipleOrder>
            <version>0.1.0</version>
        </Sitewards_MultipleOrder>
    </modules>
    <global>
        <blocks>
            <sitewards_multipleorder>
                <class>Sitewards_MultipleOrder_Block</class>
            </sitewards_multipleorder>
        </blocks>
        <helpers>
            <sitewards_multipleorder>
                <class>Sitewards_MultipleOrder_Helper</class>
            </sitewards_multipleorder>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Sitewards_MultipleOrder>
                <use>standard</use>
                <args>
                    <module>Sitewards_MultipleOrder</module>
                    <frontName>multipleorder</frontName>
                </args>
            </Sitewards_MultipleOrder>
        </routers>
        <translate>
            <modules>
                <Sitewards_MultipleOrder>
                    <files>
                        <default>Sitewards_MultipleOrder.csv</default>
                    </files>
                </Sitewards_MultipleOrder>
            </modules>
        </translate>
        <layout>
            <updates>
                <sitewards_multipleorder>
                    <file>sitewards/multipleorder.xml</file>
                </sitewards_multipleorder>
            </updates>
        </layout>
    </frontend>
    <default>
        <multipleorder>
            <generalsettings>
                <active>0</active>
            </generalsettings>
        </multipleorder>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Sitewards_MultipleOrder/>
            </modules>
        </suite>
    </phpunit>
</config>