<?xml version="1.0"?>
<!--
/**
 * sytem.xml
 *  - create admin config tab,
 *  - assign admin config fields to sections
 *
 * @category    Sitewards
 * @package     Sitewards_MultipleOrder
 * @copyright   Copyright (c) 2014 Sitewards GmbH (http://www.sitewards.com/)
 */
-->
<config>
    <sections>
        <multipleorder translate="label" module="sitewards_multipleorder">
            <label>Multiple Product Order Form</label>
            <tab>customer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>990</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <generalsettings translate="label">
                    <label>General settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label,comment">
                            <label>Enable Multiple Product Order Form</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable or disable extension.]]></comment>
                        </active>
                    </fields>
                </generalsettings>
            </groups>
        </multipleorder>
    </sections>
</config>